* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg {
    background-image: linear-gradient(#019587 100px, #DCDACD 100px, #789f9b);
    height: 100vh;
}
.container {
    width: 1000px;
}
input {
    border: none;
}
nav {
    height: 60px;
    width: 100%;
    border-right: 1px solid lightgray;
    background-color: #E9E9E9;
}
.messages-field {
    height: calc(100% - 120px);
    background-image: url(../img/mine.jpg);
}
.message-line {
    width: 100%;
}
.sent, .received {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
.sent {
    background-color: #D4F8BA;
    justify-content: end;
    margin-right: 30px;
    margin-left: auto;
}
.received {
    justify-content: start;
    margin-left: 30px;
}
.received, .box-left {
    background-color: white;
}
img {
    height: 40px;
}
.box-left {
    width: calc((100% / 12) * 4);
}
.contacts {
    height: 525px;
}
.box-right {
    width: calc((100% / 12) * 8);
}
.content-app {
    display: flex;
    height: 700px;
}
a, .hour, .last-sent {
    font-size: 10px;
}
.notification {
    background-color: #8DD9FB;
}
.user-preview {
    border-bottom: 1px solid gray;
}
.active {
    background-color: #0195866e;
    transition: 0.5s;
}
